body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

/* This is how i center things in a max width without coding to much */
.container {
    max-width: 1280px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit; }

.Hero{
    background-image: url(../media/backgroundlaguna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 22vw;
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Hero img{
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    border-radius: 20vh;
}

.Hero h1 {
    text-align: center;
    color: #F6F4F2;
    font-size: 4vh;
    margin: auto 0;
}

.Hero h1 strong{
    color: #EC9F52;
}

.Header{
    background-color: #AF3140;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

.Header h2{
    color: #F6F4F2;
    font-size: 2.7vh;
    margin: 2vh;
}

#About{
    margin: 0 auto;
    height: 520px;
    color: #043D5A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.About-info{
    padding: 20px;
    margin: 40px 0 0 0;
    border-radius: 20px;
    width: 44%;
    background-color: #F6F4F2;
    height: auto;
}

.About-info.technologies{
    display: flex;
    flex-direction: column;
}

.About-info--row.technologies{
    display: flex;
    justify-content: space-around;
    padding: 2px 20px;
    text-align: center;
}

.About--images img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.About--images p{
    color: black;
    text-align: center;
}

.About-info strong{
    color: #EC9F52;
}

.About-info.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: #043D5A;
    height: 180px;
    width: 100%;
    margin-bottom: 40px;
    color: #F6F4F2;
}

.About-info.experience h2{
    margin: 0;
}

.About-info.experience img{
    width: 30vh;
}

@media screen and (max-width: 1441px){
    .container{
        max-width: 80%;
    }
}

@media screen and (max-width: 1000px){
    *{
        text-align: center !important;
    }

    .Hero{
        height: auto;
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        align-items: stretch;
    }

    .Hero img{
        margin-bottom: 5vh;
    }

    .Header{
        width: auto;
        justify-content: center;
    }

    .Header a h2{
        font-size: 2.1vh;
    }

    #About{
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    .About-info{
        width: 100%;
    }

    .About-info img{
        width: 14vw;
        height: 14vw;
    }
}

/* Does somebody will see this from a Fold??!? */
@media screen and (max-width: 321px){
    .Hero img{
        height: 30vh;
        width: 30vh;
    }
    
    .Header h2{
        color: #F6F4F2;
        font-size: 1vh;
        margin: 0.9vh;
    }

    .About-info{
        margin: 1vh;
        padding: 0.420vh;
    }
}